<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Welcome!!!</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="VehicleMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vehicles Menu
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Flight">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Flights
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Packages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Packages
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TravelTip">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TravelTip
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Payment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Payment
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
