@page "/flights/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3 class="card-title">Create New Flight</h3>
<hr />
<br />

<FormComponent ButtonText="Create Flight" flight="flight" OnValidSubmit="@CreateFlight" />

@code {
    Flights flight = new Flights();

    private IList<Flights> Flight;

    protected async override Task OnInitializedAsync()
    {
        Flight = await _client.GetFromJsonAsync<List<Flights>>($"{Endpoints.FlightsEndpoint}");
    }

    private async Task CreateFlight()
    {
        await _client.PostAsJsonAsync(Endpoints.FlightsEndpoint, flight);
        _navManager.NavigateTo("/Flight/");

    }
}