@page "/flights/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Flights</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditFlight" flight="flight" />

@code {
    [Parameter] public int id { get; set; }
    Flights flight = new Flights();

    protected async override Task OnParametersSetAsync()
    {
        flight = await _client.GetFromJsonAsync<Flights>($"{Endpoints.FlightsEndpoint}/{id}");
    }

    async Task EditFlight()
    {
        await _client.PutAsJsonAsync($"{Endpoints.FlightsEndpoint}/{id}", flight);
        _navManager.NavigateTo("/Flight/");
    }
}