@page "/reviews/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent review="reviews" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    Reviews reviews = new Reviews();
    protected async override Task OnParametersSetAsync()
    {
        reviews = await _client.GetFromJsonAsync<Reviews>($"{Endpoints.ReviewsEndpoint}/{id}");
    }
}