@page "/Car"
@inject NavigationManager NavigationManager

    <div id="test" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#test" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#test" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#test" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#test" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img src="/Images/Main Menu/City.jpg" class=" d-block w-100  " alt="1">
            </div>
            <div class="carousel-item">
                <img src="/Images/Main Menu/Flight.jpg" class=" d-block w-100  " alt="2">
            </div>
            <div class="carousel-item ">
                <img src="/Images/Main Menu/MiniVan.jpg" class="d-block w-100  " alt="3">
            </div>
            <div class="carousel-item">
                <img src="/Images/Main Menu/NightScape.jpg" class="d-block w-100  " alt="4">
            </div>
        </div>
        <a class="carousel-control-prev" type="button" data-bs-target="#test" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" type="button" data-bs-target="#test" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>

    </div>



    <h1>Travelio</h1>


    <h3>Car</h3>

    <h5><button class="btn btn-primary" @onclick="home">Home</button> <button class="btn btn-primary" @onclick="flights">flights</button> <button class="btn btn-primary" @onclick="traveltip">travel tip</button></h5>

    <body>

        <select name="Number of Passengers">
            <option value="">Select number of passengers</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>


        <div class="row">
            <div class="row-md-4">
                <br>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Pickup">Pick-up</label>
                    <input asp-for="Input.Pickup" class="form-control" />
                    <span asp-validation-for="Input.Pickup" class="text-danger"></span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Dropoff">Drop-off</label>
                    <input asp-for="Input.Dropoff" class="form-control" />
                    <span asp-validation-for="Input.Dropoff" class="text-danger"></span>
                </div>

                <br>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.PickUpTime">Pick-Up Time</label>
                    <input asp-for="Input.PickUpTime" class="form-control" />
                    <span asp-validation-for="Input.PickUpTime" class="text-danger"></span>
                </div>

                <br>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.DropOffTime">Drop-Off Time</label>
                    <input asp-for="Input.DropOffTime" class="form-control" />
                    <span asp-validation-for="Input.DropOffTime" class="text-danger"></span>
                </div><button class="btn btn-primary" @onclick="typeofcar">type of car</button>

            </div>
        </div>

        <section id="Car models">
            <div class="container m-5">
                <h1 class="text-center my-5">Our Recommended Cars</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Chevrolet Impala.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Chevrolet Impala">Chevrolet Impala</h5>
                                <p class="card-text">Are you looking for a luxurious ride for your family? This car has 5 seats and 5 baggage compartments.</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Mercedes Benz S Class.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Mercedes Benz S Class">Mercedes Benz S Class</h5>
                                <p class="card-text">Are you hoping for a classy ride? There are 5 seats and 4 luggage compartments in this car.            </p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Mitsubishi Mirage.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Mitsubishi Mirage">Mitsubishi Mirage</h5>
                                <p class="card-text">Are you seeking for a reasonably priced but comfy ride? There are 4 seats and 2 luggage compartments in this car.</p>
                                <a href="#" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
       
        </section>

    </body>

    @code {
        private void home(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("/");
        }
        void flights(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("Flights");
        }
        void traveltip(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("TravelTip");
        }
        void typeofcar(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("TypeOfCars");
        }
    }
