@page "/CarMenu"
@inject NavigationManager NavigationManager

    


    <h1>Travelio</h1>

    <h3>Car</h3>

    <h5><button class="btn btn-primary" @onclick="home">Home</button> <button class="btn btn-primary" @onclick="flights">flights</button> <button class="btn btn-primary" @onclick="traveltip">travel tip</button></h5>

    <body>




        <section id="Car models">
            <div class="container m-5">
                <h1 class="text-center my-5">Our Recommended Cars</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Chevrolet Impala.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Chevrolet Impala">Chevrolet Impala</h5>
                                <p class="card-text">Are you looking for a luxurious ride for your family? This car has 5 seats and 5 baggage compartments.</p>
                                <button class="btn btn-primary" @onclick="typeofcar">Book Now</button>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Mercedes Benz S Class.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Mercedes Benz S Class">Mercedes Benz S Class</h5>
                                <p class="card-text">Are you hoping for a classy ride? There are 5 seats and 4 luggage compartments in this car.            </p>
                                <button class="btn btn-primary" @onclick="typeofcar">Book Now</button>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Mitsubishi Mirage.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Mitsubishi Mirage">Mitsubishi Mirage</h5>
                                <p class="card-text">Are you seeking for a reasonably priced but comfy ride? There are 4 seats and 2 luggage compartments in this car.</p>
                                <button class="btn btn-primary" @onclick="typeofcar">Book Now</button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
       
        </section>

    </body>

    @code {
        private void home(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("/");
        }
        void flights(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("Flights");
        }
        void traveltip(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("TravelTip");
        }
        void typeofcar(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("TypeOfCar");
        }
    }
