@page "/Packages"
@inject NavigationManager NavigationManager





<h3>Packages</h3>



<body>
    <section id="Car models">
        <div class="container m-5">
            <h1 class="text-center my-5">Our Recommended Packages</h1>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/Packages/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="Family">Fun-Mily</h5>
                            <p class="card-text">Holidays means relaxing, and what better than riding in a luxury car.</p>
                            <a href="#" class="btn btn-primary">Book</a>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/Packages/2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="Friends">Friends</h5>
                            <p class="card-text"> Wanna explore with your friends?? We got you covered with our llit packages.</p>
                            <a href="#" class="btn btn-primary">Book</a>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="card" style="width: 18rem;">
                        <img src="/Images/Packages/3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="School">School-iday</h5>
                            <p class="card-text">Looking to book a van your students' trip? You're at the right place.</p>
                            <a href="#" class="btn btn-primary">Book</a>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </section>
</body>

@code {
    private void Index(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/");
    }
    private void flights(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/Flights");
    }
    private void traveltip(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("/TravelTip");
    }
    private void Car(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("CarMenu");
    }
    



}