@page "/Packages"
@inject NavigationManager NavigationManager

    


    <h3>Packages</h3>



    <body>
        <section id="Car models">
            <div class="container m-5">
                <h1 class="text-center my-5">Our Recommended Packages</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Audi A5 Sportback.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Audi A5">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Audi A5 Sportback.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Audi A5">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="card" style="width: 18rem;">
                            <img src="/Images/Car/Audi A5 Sportback.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="Audi A5">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </section>
    </body>

    @code {
        private void Index(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("/");
        }
        private void flights(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("/Flights");
        }
        private void traveltip(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("/TravelTip");
        }
        private void Car(MouseEventArgs e)
        {
            NavigationManager.NavigateTo("CarMenu");
        }
    }