@page "/Payment"
@inject NavigationManager NavigationManager

<h3>Payment</h3>

<h5>The Bookings</h5>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>Booking destination</th>
                <th>Booking departing Date</th>
                <th>Booking departing time</th>
                <th>Booking return date</th>
                <th>Booking return time</th>
                <th>Booking details</th>
                <th>Booking price</th>
            </tr>
        </thead>
    </table>
    <button class="btn btn-primary" @onclick="BackCars">Back to type of cars</button>
    <button class="btn btn-primary" @onclick="BackFlights">Back to Flights</button>
</body>


@code {
    void BackCars(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("TypeOfCars");
    }
    void BackFlights(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("Flights");
    }
}
